body {
    margin: 60px auto;
    width: 70%;
    text-align: center;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 1.5em;
    margin-left: 1.5em;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: maroon;
}

#photo {
    margin-top: 2em;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 1em;
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h1 small {
    display: block;
    font-size: 60%;
    color: #aaa;
    margin-top: 0.5em
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    text-align: left;
    margin-left: 3em;
    margin-right: 3em;
}

p a {
    color: maroon;
}